html, body {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
    max-width: 960px;
}

.card:hover {
    -webkit-box-shadow: 0 13px 35px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 13px 35px -16px rgba(0,0,0,0.75);
    box-shadow: 0 13px 35px -16px rgba(0,0,0,0.75);
    transition: 0.2s ease;
}

.card{
    transition: 0.2s ease;
}
