<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyProducts Area</title>
</head>

<link th:href="@{/assets/css/myProductsArea.css}" rel="stylesheet">

<body>
<header th:insert="blocks/header :: header"></header>

<div class="pricing-header px-3 py-3 mb-4 pt-md-5 pb-md-4 mx-auto text-center">
    <div class="row justify-content-center">
        <div class="col-auto">
            <h1 class="display-4">My Products Area</h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto align-self-center">
            <a class="center m-auto btn btn-outline-dark" href="/addProduct">Add Product</a>
        </div>

        <!-- Button trigger modal -->
        <button th:if="${products.size()!=0}" type="button" class="btn btn-outline-dark col-auto align-self-center"
                data-toggle="modal" data-target="#exampleModal">
            Create promotion
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New promotion</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div th:if="${products.size()!=0}">
                        <div class="modal-body">

                            <form action="/addPromotion" method="post">
                                <label for="sel1">Select category of products to promote</label>
                                <select class="form-control mb-2" id="sel1" name="category_id">
                                    <div th:if="${categories.size()!=0}" th:each="category : ${categories}">
                                        <!--/*@thymesVar id="category" type="it.unicam.travisbug.c3.model.Category"*/-->
                                        <option th:value="${category.getId()}" th:text="${category.getName()}"></option>
                                    </div>
                                </select>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Discount</span>
                                    </div>
                                    <input th:required="true" type="number" name="discount" max="100" min="0"
                                           placeholder="0" class="inputBox form-control"/>
                                    <div class="input-group-append">
                                        <span class="input-group-text">%</span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="start-date-input" class="col col-form-label">Start date</label>
                                    <div class="col-8">
                                        <input th:required="true"
                                               th:attr="min=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
                                               class="form-control" type="date" id="start-date-input" name="startDate">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="end-date-input" class="col col-form-label">End date</label>
                                    <div class="col-8">
                                        <input th:required="true"
                                               th:attr="min=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
                                               class="form-control" type="date" id="end-date-input" name="endDate">
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between">
                                    <button type="button" class="btn btn-block btn-secondary mr-1 mt-2"
                                            data-dismiss="modal">
                                        Close
                                    </button>
                                    <input value="Create promotion" type="submit"
                                           class="btn btn-block btn-outline-dark ml-1 mt-2"/>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mb-3 container">

    <div class="row justify-content-center">

        <div th:if="${products.size() !=0}" th:each="product : ${products}">
            <div class="col-auto mb-3">
                <div class="card " style="width: 18rem;">
                    <div class="card-header text-left">
                        <div class="d-flex justify-content-between mb-4">
                            <h5 th:text="${product.getName()}"></h5>
                            <kbd class="align-self-center" th:if="${product.promoted}" style="background-color: darkred">Promo</kbd>
                        </div>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${product.getCategory().getName()}"></h6>
                        <div class="row text-left">
                            <h5 class="ml-3 mr-3 text-muted"
                                th:text="'$'+${product.getDiscountedPrice()}"></h5>
                            <del th:if="${product.getDiscount() != null and product.getDiscount() != 0}"
                                 class="text-muted"
                                 th:text="'$'+${product.getPrice()}"></del>
                        </div>
                    </div>
                    <div class="card-body text-left clickable">
                        <form action="/myProductsArea" method="post">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Discount</span>
                                </div>
                                <input type="number" name="productDiscount" max="100" min="0"
                                       th:placeholder="${product.getDiscount()} ?: '0'" class="inputBox form-control"/>
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                                <input style="visibility:hidden; display: none" name="productId"
                                       th:value="${product.getId()}"/>
                            </div>
                            <input value="Save" type="submit" class="btn btn-block btn-outline-dark mt-2"/>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div th:if="${products.size() == 0}">
            <div class="col-auto mb-3">
                <div class="card " style="width: 18rem;">
                    <div class="card-body clickable">
                        <h5 class="card-title">Your shop has no product</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Try to add a product</h6>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div th:insert="blocks/footer :: footer"></div>
</div>
<script>
    $(".inputBox").each(function (i, el) {
        $(this).on("keypress", function (evt) {
            if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57) {
                evt.preventDefault();
            }
        });
    });
</script>
</body>
</html>