<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Internal server error</title>
</head>
<body>
<link rel="stylesheet" th:href="@{assets/css/errors.css}">

<div id="notfound">
    <div class="notfound noselect">
        <div class="notfound-404">
            <h1>500</h1>
        </div>
        <h2>Congratulations!</h2>
        <p>The things now are a little bit <strong>unstable</strong> but we are investigating. We would suggest you to
            come back later.</p>
        <a href="/">Back To Homepage</a>
    </div>
</div>

</body>
</html>