<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Courier Area</title>
</head>

<!--custom css-->
<link rel="stylesheet" th:href="@{/assets/css/courierArea.css}">
<link>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container">
    <!--Section: Block Content-->

    <!-- Grid Row -->
    <div class="row my-3 justify-content-center">
        <!-- Grid column -->
        <div class="col-lg-6 col-md-10 col">
            <h5 class="mb-2 ml-2 text-left">Taken Shipments</h5>
            <!-- Card -->
            <!--Section: Block Content-->
            <section
                    th:if="${(takenShipments != null && takenShipments.size() > 0) || (deliveredShipments != null && deliveredShipments.size() > 0) }">
                <div th:each="shipment : ${takenShipments}" class="card wish-list mb-3">
                    <div class="card-header">
                        <div class="align-items-center mb-2">
                            <h5>Shipment ID:
                                <span th:text="${shipment.getId()}"></span>
                            </h5>
                            <h6>Address:
                                <span th:text="${shipment.getAddress().toString()}"></span>
                            </h6>
                        </div>
                    </div>
                    <!--Card Body -->
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col">
                                <div>
                                    <div class="align-items-center">
                                        <div>Status: <kbd th:text="${shipment.getShippingStatus()}"></kbd></div>
                                        <div class="mb-2">Weight: <span
                                                th:text="${shipment.getShipping_order().getTotalWeight()} + 'kg'"></span>
                                        </div>
                                        <div>
                                            <a th:href="@{/courierArea/update/{id}(id=${shipment.getId()})}"
                                               type="button"
                                               class="btn btn-primary btn-sm">Update Status</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:each="shipment : ${deliveredShipments}" class="card wish-list mb-3">
                    <div class="card-header">
                        <div class="align-items-center mb-2">
                            <h5>Shipment ID:
                                <span th:text="${shipment.getId()}"></span>
                            </h5>
                            <h6>Address:
                                <span th:text="${shipment.getAddress().toString()}"></span>
                            </h6>
                        </div>
                    </div>
                    <!--Card Body -->
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col">
                                <div>
                                    <div class="align-items-center">
                                        <div>Status: <kbd style="background-color: dodgerblue "
                                                          th:text="${shipment.getShippingStatus()}"></kbd></div>
                                        <div class="mb-2">Weight: <span
                                                th:text="${shipment.getShipping_order().getTotalWeight()} + 'kg'"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div th:if="${takenShipments.size() == 0 && deliveredShipments.size() == 0}">
                <div class="card wish-list mb-3">
                    <div class="card-header">
                        <div class="align-items-center mb-3">
                            <h5>Nothing to show</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Grid column -->
        <div class="col-lg-6 col-md-10 col">
            <h5 class="mb-2 ml-2 text-right">Available Shipments</h5>
            <!-- Card -->
            <!--Section: Block Content-->
            <section th:if="${pendingShipments != null && pendingShipments.size() > 0}">
                <div th:each="shipment : ${pendingShipments}" class="card wish-list mb-3">
                    <div class="card-header">
                        <div class="align-items-center mb-2">
                            <h5>Shipment ID:
                                <span th:text="${shipment.getId()}"></span>
                            </h5>
                            <h6>Address:
                                <span th:text="${shipment.getAddress().toString()}"></span>
                            </h6>
                        </div>
                    </div>
                    <!--Card Body -->
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col">
                                <div>
                                    <div class="align-items-center">
                                        <div>Status: <kbd th:text="${shipment.getShippingStatus()}"></kbd></div>
                                        <div class="mb-2">Weight: <span
                                                th:text="${shipment.getShipping_order().getTotalWeight()} + 'kg'"></span>
                                        </div>
                                        <div>
                                            <a th:href="@{/courierArea/take/{id}(id=${shipment.getId()})}" type="button"
                                               class="btn btn-success btn-sm">Prendi spedizione
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div th:if="${pendingShipments.size() == 0}">
                <div class="card wish-list mb-3">
                    <div class="card-header">
                        <div class="align-items-center mb-3">
                            <h5>Nothing to show</h5>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div th:insert="blocks/footer :: footer"></div>
</div>
</body>
</html>