<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<!--custom css-->
<link rel="stylesheet" th:href="@{/assets/css/courierArea.css}"><link>
<body>
<header th:insert="blocks/header :: header"></header>
<!--content space-->

<p>ciao</p>

<!-- Rounded switch -->
<label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
</label>


<div class="row justify-content-center">
    <div th:if="${shipments != null}" th:each="shipment : ${shipments}">
        <!--/*@thymesVar id="product" type="it.unicam.travisbug.c3.model.Product"*/-->
        <div class="col-auto mb-3">
            <div class="card " style="width: 18rem;">
                <div class="card-body clickable">
                    <h5 class="card-title" th:text="${shipment.getAddress().getCity()}"></h5>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="${shipment.getShipStatus()}"></h6>
                    <h6><button type="button">Update Status</button></h6>
                    <p class="card-text" th:text="${shipment.getShipCharge()}"> aaa</p>
                    <a href="#">Prendi in carico la spedizione<a/>
                    <!--                        <a href="#" class="card-link">Another link</a>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<div>Lista spedizioni
    <div th:each="ships : ${shipments}"> a
        <p th:text="${ships.getId()}"></p>
        <p th:text="${ships.getAddress()}"> addres</p>
        <p th:text="${ships.getShipCharge()}">charge</p>
        <p th:text="${ships.getShipStatus()}"> sstatus</p>
        <p th:text="${ships.getCourier()}"> nome corrier</p>
    </div>
</div>-->
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>