<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<!--custom css-->
<link th:href="@{/assets/css/home.css}" rel="stylesheet">

<body>
<header th:insert="blocks/header :: header"></header>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Sottocorte Village</h1>
    <p class="lead">Tutti i negozi disponibili</p>
</div>

<div class="container">

    <div th:if="${shops == null}" class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm" style="transform: rotate(0);">
            <div class="card-header">
                <h3 class="d-flex p-2 justify-content-center display-1">We don't have any shops right now :(</h3>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">

        <div th:if="${shops != null}" th:each="shop : ${shops}">
            <!--/*@thymesVar id="shop" type="it.unicam.travisbug.c3.model.Shop"*/-->
            <div class="col-auto mb-3">
                <a style="text-decoration:none" th:href="@{/shop/{id}(id=${shop.getId()})}">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body clickable">
                            <h5 class="card-title" th:text="${shop.getShopName()}"></h5>
                            <h6 class="card-subtitle mb-2 text-muted" th:text="${shop.getShopCategory().getNameCategory()}"></h6>
                            <!--                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                            <!--                        <a href="#" class="card-link">Card link</a>-->
                            <!--                        <a href="#" class="card-link">Another link</a>-->
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>


    <!--    <div class="card-deck mb-3 text-center">-->
    <!--        <div th:if="${shops != null}" th:each="shop : ${shops}">-->
    <!--            <div class="card mb-4 shadow-sm">-->
    <!--                <div class="card-body">-->
    <!--                    <h3 class="d-flex p-2 justify-content-center display-3" th:text="${shop.getShopName()}"></h3>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->

    <!--        <div th:if="${shops == null}" class="alert alert-info d-block mx-auto">-->
    <!--            <strong>Info!</strong> Currently there is no shops available.-->
    <!--        </div>-->

    <!--        <div class="card mb-4 shadow-sm">-->
    <!--            <div class="card-body">-->
    <!--                <h3 class="d-flex p-2 justify-content-center display-3">Ovs</h3>-->
    <!--            </div>-->
    <!--        </div>-->

    <!--        <div class="card mb-4 shadow-sm">-->
    <!--            <div class="card-body">-->
    <!--                <h3 class="d-flex p-2 justify-content-center display-3">CiroPizza</h3>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

    <div th:insert="blocks/footer :: footer"></div>
</div>
</body>
</html>