<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${shopname}"></title>
</head>

<!--custom css-->
<link rel="stylesheet" th:href="@{/assets/css/shop.css}">
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container">
    <div th:if="${products!= null}" class="row">
        <div class="col mb-3">
            <h2 th:text="${greeting}"></h2>
            <h5 class="text-muted mb-3">Here is our products</h5>
        </div>
    </div>

    <div class="row justify-content-center">
        <div th:if="${products != null}" th:each="product : ${products}">
            <!--/*@thymesVar id="product" type="it.unicam.travisbug.c3.model.Product"*/-->
            <div class="col-auto mb-3">
                <div class="card " style="width: 18rem;">
                    <div class="card-body text-left">
                        <h5 class="card-title" th:text="${product.getName()}"></h5>
                        <h6 class="card-subtitle mb-3 text-muted" th:text="${product.getCategory().getName()}"></h6>
<!--                        <p class="card-text" th:text="${product.getDescription()}"></p>-->
                        <a th:if="${logged == true}" th:href="@{/cart/add/{product_id}/{shop_id}(product_id=${product.getId()},shop_id=${shop.getId()})}"
                           class="card-link"><i class="fas fa-plus-circle"></i> Add to
                            card</a>
                        <!--                        <a href="#" class="card-link">Another link</a>-->
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${products == null}" class="col-auto m-5">
            <h3>Sorry, we don't have nothing to show now :(</h3>
        </div>
    </div>
    <div th:insert="blocks/footer :: footer"></div>
</div>


</body>
</html>