<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${shopname}"></title>
</head>

<!--custom css-->
<link rel="stylesheet" th:href="@{/assets/css/shop.css}">
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container">
    <div th:if="${products!= null}" class="row">
        <div class="col my-3">
            <h2 th:text="${greeting}"></h2>
            <h5 class="text-muted mb-3">Here is our products</h5>
        </div>
    </div>

    <div class="row justify-content-center">
        <div th:if="${products != null}" th:each="product : ${products}">
            <!--/*@thymesVar id="product" type="it.unicam.travisbug.c3.model.shop.Product"*/-->
            <div th:if="${product.getSupply()!=0}" class="col-auto mb-3">
                <div class="card " style="width: 18rem;">
                    <div class="card-body text-left">
                        <div class="d-flex justify-content-between mb-4">
                            <h5 th:text="${product.getName()}"></h5>
                            <kbd class="align-self-center" th:if="${product.promoted}"
                                 style="background-color: darkred">Promo</kbd>
                        </div>
                        <h6 class="card-subtitle mb-2 text-muted"
                            th:text="${product.getCategory().getName()}"></h6>
                        <div class="row mb-3">
                            <h5 class="ml-3 mr-2 text-muted"
                                th:text="'$'+${product.getDiscountedPrice()}"></h5>
                            <del th:if="${product.getDiscount() != null and product.getDiscount() != 0 or product.promoted}"
                                 class="text-muted"
                                 th:text="'$'+${product.getPrice()}"></del>
                        </div>
                        <div th:if="${logged == true and role.name()=='CLIENT'}">
                        <a th:href="@{/account/cart/add/{product_id}/{shop_id}(product_id=${product.getId()},shop_id=${shop.getId()})}"
                           class="card-link"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to
                            cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${products == null}" class="col-auto m-5">
            <h3>Sorry, we don't have nothing to show now :(</h3>
        </div>
    </div>
    <div th:insert="blocks/footer :: footer"></div>
</div>
<script>
    document.getElementById('promo').onclick = function(e){
        alert('click');
    }
</script>

</body>
</html>